
/* width */
::-webkit-scrollbar {
    width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fcd6df; 
    border-radius: 5px;
}


body{
    background-image: url(BOOK/websitegif.gif);
    background-size: 80%;
    background-position: center;
    margin: 0;
}

.burger{
    width: 30px;
    margin-left: 60px;
    margin-top: 50px;
    height: 4px;
    position: absolute;
}

.menu{
    color: #fcd6da;
    margin-top: 8px;
    margin-left: 150px;
    /*font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 17px;
}

a{
    margin-left: 60px;
}

.menu a:hover{
    color: #fcd6da;
    transition: 0s;
}

.menu a{
    opacity: 0;
    transition: 0.4s;
}

.menu a.visible{
    opacity: 1;
}


#navigation a:nth-child(1){transition-delay: 0s;}
#navigation a:nth-child(2){transition-delay: 0.1s;}
#navigation a:nth-child(3){transition-delay: 0.2s;}
#navigation a:nth-child(4){transition-delay: 0.3s;}
#navigation a:nth-child(5){transition-delay: 0.4s;}
#navigation a:nth-child(6){transition-delay: 0.5s;}
#navigation a:nth-child(7){transition-delay: 0.6s;}



