/* width */
::-webkit-scrollbar {
    width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fcd6df; 
    border-radius: 5px;
}


body{
   background-color: black;
   font-family: 'Alegreya Sans SC', sans-serif;
}

header{
    height: 150px;
}

.burger{
    width: 30px;
    margin-left: 60px;
    margin-top: 50px;
    height: 4px;
    position: absolute;
}

.menu{
    color: #fcd6df;
    margin-top: 8px;
    margin-left: 150px;
    /*font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 17px;
}

a{
    margin-left: 60px;
}

.menu a:hover{
    color: #fcd6df;
    transition: 0s;
}

.menu a{
    opacity: 0;
    transition: 0.5s;
}

.menu a.visible{
    opacity: 1;
}

#navigation a:nth-child(1){transition-delay: 0s;}
#navigation a:nth-child(2){transition-delay: 0.1s;}
#navigation a:nth-child(3){transition-delay: 0.2s;}
#navigation a:nth-child(4){transition-delay: 0.3s;}
#navigation a:nth-child(5){transition-delay: 0.4s;}
#navigation a:nth-child(6){transition-delay: 0.5s;}
#navigation a:nth-child(7){transition-delay: 0.5s;}






.realvideo{
    display: flex;
    position: absolute;
    width: 50%;
    margin-left: 40%;
}


h1{
    position: relative;
    color: white;
    text-align: left;
    font-size: 50px;
}

p{
    font-family: 'Raleway', sans-serif;
    color: white;
    float: left;
    position: absolute;
    width: 400px;
}


.text{
    display: block;
    position: fixed;
    width: 260px;
    padding-top: 5%;
    margin-left: 10%;
}

.smalgifs{
    width: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 50px;
}

.smalgifs1{
    width: 705px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 50px;
}


.smalgifsbox{
    margin-left: 42%;
    padding-top: 480px;
}
.smalgifsbox1{
    margin-left: 42%;
}


.realvideo1{
    width: 52%;
    margin-left: 40%;
    padding-top: 480px;
}